.floorselect{
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.floorselect > div{
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.selected {
    background-color: gray;
}

.nodeFloor0, .nodeFloor1, .nodeFloor2{
    width: 10px;
    height: 10px;
    position: absolute;
}

.nodeFloor0{
    background-color: red;
}

.nodeFloor1{
    background-color: lime;
}

.nodeFloor2{
    background-color: cyan;
}