.floorselect{
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.floorselect > div{
    padding: 2vw;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.selected {
    background-color: gray;
}

img{
    width: 100vw;
}